.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.background {
  /* background-image: url('./assets/background.png');
  background-size: cover; */
}

.wrapper {
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
}

@media (max-width: 1023px) {
  .bgWrapper {
    font-family: 'Inter';
  }
}